<div class="container">
    <div class="col-md-6">
    <img src="http://i963.photobucket.com/albums/ae111/BlazarCommunications/Blazar_General/logo21_zpsksjhpfgd.png", height="150px", width="400px">
    </div>
    <div class="col-md-6">
        <h1>About Our Company</h1>
        <h3>This will be a link to What We Do graph</h3>
        <h3>This will be a link to Our Clients</h3>
    </div>
</div>

<div class="page-frame">
    <h2>Who We Are</h2>
    <p>Founded by industry veterans with more than seventy five years of shared experience, 
    Blazar Communications opened its doors in 2011. Every day since then, 
    Blazar has strived to provide a unique approach to mailing solutions. We understand the complexities of choosing the 
    correct products and solutions for each company and set the bar high for competitors by objectively comparing in-house 
    and outsourcing solutions until we find a plan that suits each client’s unique needs. Our clientele are a host 
    of great people with forward thinking ideas who trust us to help them streamline their processes, lower 
    their costs, and reduce their carbon footprint by offering the best technology and software available at 
    every turn. (filler sentence here about how great we are look at the greatness the ego is what sells companies)</p>
</div>

<div>
    <h2>Our Team</h2>
    <div class="page-frame container">
        <div class="col-md-3">
            <img src="http://i963.photobucket.com/albums/ae111/BlazarCommunications/Bios/haimes_david_zps5j4p5apk.jpg" height="300px" width="200px" class="profile">
        </div>
        <div class="col-md-9 bio">
            <br>
            <br>
            <h3><strong>David Haimes</strong></h3>
            <h5>After spending 17 years serving clients with Neopost
            and Pitney Bowes, David saw an opportunity to improve 
            his customers’ experience by focusing not only on their 
            immediate needs, but on the true costs of their 
            production over time as well. Drawing on his breadth of 
            experience, superabundant expertise, and substantial 
            knowledge base of products available, he started Blazar 
            Communications. David has earned multiple accolades, 
            including reaching worldwide sales records. A motivated 
            problem solver, David loves the challenge of working in 
            unison with multiple departments both in and out of the 
            office.</h5>
        </div>
    </div>
    <br>
    <br>
    <div class="page-frame container">
        <div class="col-md-3">
            <img src="http://i963.photobucket.com/albums/ae111/BlazarCommunications/Bios/rajcevich_jay_zpslo1lwah9.jpg" height="300px" width="200px" class="profile">
        </div>
        <div class="col-md-9 bio">
            <br>
            <br>
            <h3><strong>Jay Rajcevich</strong></h3>
            <h5>Bringing more than 20 years of industry experience 
            to the table, Jay has made a career of helping thousands
            of customers save millions of dollars in all aspects of 
            customer communications. Utilizing his extensive 
            expertise with highly engineered systems in multiple 
            markets and industries, he is highly successful in 
            quickly identifying process flow problem areas, 
            delivering on-time solutions for complex customer 
            projects, clients achieve revenue, profit and business 
            growth, and in building solid team relationships.</h5>
            <h5>Customer-focused and performance driven, Jay is an 
            executive with proven history of leading and motivating 
            multifaceted teams to drive sustained revenue and EBITA 
            growth for business divisions in rapid change 
            environments exceeding 500 million dollars in annual 
            revenue.</h5>
        </div>
    </div>
    <br>
    <br>
    <div class="page-frame container">
        <div class="col-md-3">
            <img src="http://i963.photobucket.com/albums/ae111/BlazarCommunications/Bios/zoretic_tom_zpsdxjm5dtp.jpg" height="300px" width="200px" class="profile">
        </div>
        <div class="col-md-9 bio">
            <br>
            <br>
            <h3><strong>Tom Zoretic</strong></h3>
            <h5>Tom Zoretic finds success in helping clients find the 
            gaps in their workflow processes and in turning those gaps 
            into savings and increased profits. With fifteen years of 
            hands-on experience in the industry obtained by working with 
            two major manufacturers, Tom knew that his calling was to 
            make a difference in clients’ businesses. As the Director of 
            Sales and Marketing at Blazar Communications, his ability to 
            take complex postal rules and regulations and make them 
            understandable for his clients has made him a true business 
            professional. A family man himself, Tom understands clients’ 
            desire to increase efficiency and spend less time struggling 
            with their mailing equipment and he makes it his personal 
            goal to help every client improve their workflow so they can 
            spend less time worrying at the office and more time doing 
            what they love. Tom has three children and a loving wife, 
            and outside the office he enjoys golfing and watching Star 
            Wars with his kids.</h5>
        </div>
    </div>
    <br>
    <br>
    <div class="page-frame container">
        <div class="col-md-3">
            <img src="http://i963.photobucket.com/albums/ae111/BlazarCommunications/Bios/brown_patty_zpsfxed1jwe.jpg" height="300px" width="200px" class="profile">
        </div>
        <div class="col-md-9 bio">
            <br>
            <br>
            <h3><strong>Pat Brown</strong></h3>
            <h5>Pat Brown has more than 20 years of industry experience in the San Diego area. She’s earned many accolades 
            for sales success and considers her greatest reward to be establishing long term customer relationships. An enthusiastic member of the
            Blazar team, she takes pride in being a vital part of a local business and holds a personal, vested interest in her community.  </h5>
        </div>
    </div>
<br>
    <div class="page-frame container">
        <div class="col-md-3">
            <img src="#" height="300px" width="200px" class="profile">
        </div>
        <div class="col-md-9 bio">
            <br>
            <br>
            <h3><strong>Steven Toth</strong></h3>
            <h5>Steve Toth has held several leadership positions over
            the past 25 years, serving as the President and CEO of 
            several corporations and as a product specialist for the 
            International Mailing Equipment Corporation where he provided
            real-time mailing, shipping, and receiving solutions to 
            businesses throughout the San Francisco Bay area. He has earned
            global recognition from some of the most influential and 
            prestigious companies in the industry. His boundless energy 
            stretches from the business world to his personal life. A 
            family man at heart, Steve participates in his community by 
            coaching and serving as a sponsor coordinator for his local 
            student softball leagues. He has two children and enjoys 
            spending time with them by maintaining an active lifestyle.</h5>
        </div>
    </div>
<br>
    <div class="page-frame container">
        <div class="col-md-3">
            <img src="#" height="300px" width="200px" class="profile">
        </div>
        <div class="col-md-9 bio">
            <br>
            <br>
            <h3><strong>Michael Lafferty</strong></h3>
            <h5>This is a paragraph. It serves as a placeholder for another paragraph, which will come later.
            Paragraph. Paragraph. Words. Words. Words. What a piece of work is a man! How noble in reason! how inifinite in faculty! in form, in moving,
            how express and admirable! in action how like an angel! in apprehension how like a god! the beauty of the world! the paragon of animals!
            And yet, to me, what is this quintessence of dust? There's nothing wordier than Shakespeare.</h5>
        </div>
    </div>
    <br>
    <br>
    <div class="page-frame container">
        <div class="col-md-3">
            <img src="#" height="300px" width="200px" class="profile">
        </div>
        <div class="col-md-9 bio">
            <br>
            <br>
            <h3><strong>Ray Bauer</strong></h3>
            <h5>This is a paragraph. It serves as a placeholder for another paragraph, which will come later.
            Paragraph. Paragraph. Words. Words. Words. What a piece of work is a man! How noble in reason! how inifinite in faculty! in form, in moving,
            how express and admirable! in action how like an angel! in apprehension how like a god! the beauty of the world! the paragon of animals!
            And yet, to me, what is this quintessence of dust? There's nothing wordier than Shakespeare.</h5>
        </div>
    </div>
    <br>
    <br>
    <div class="page-frame container">
        <div class="col-md-3">
            <img src="http://i963.photobucket.com/albums/ae111/BlazarCommunications/Bios/hart_raegan_zpsy29q2zxn.jpg" height="250px" width="200px" class="profile">
        </div>
        <div class="col-md-9 bio">
            <br>
            <br>
            <h3><strong>Raegan Hart</strong></h3>
            <h5>This is a paragraph. It serves as a placeholder for another paragraph, which will come later.
            Paragraph. Paragraph. Words. Words. Words. What a piece of work is a man! How noble in reason! how inifinite in faculty! in form, in moving,
            how express and admirable! in action how like an angel! in apprehension how like a god! the beauty of the world! the paragon of animals!
            And yet, to me, what is this quintessence of dust? There's nothing wordier than Shakespeare.</h5>
        </div>
    </div>
    <br>
    <br>
    <div class="page-frame container">
        <div class="col-md-3">
            <img src="http://i963.photobucket.com/albums/ae111/BlazarCommunications/Bios/souza_joyce_zpsd1costlw.jpg" height="300px" width="200px" class="profile">
        </div>
        <div class="col-md-9 bio">
            <br>
            <br>
            <h3><strong>Joyce Souza</strong></h3>
            <h5>This is a paragraph. It serves as a placeholder for another paragraph, which will come later.
            Paragraph. Paragraph. Words. Words. Words. What a piece of work is a man! How noble in reason! how inifinite in faculty! in form, in moving,
            how express and admirable! in action how like an angel! in apprehension how like a god! the beauty of the world! the paragon of animals!
            And yet, to me, what is this quintessence of dust? There's nothing wordier than Shakespeare.</h5>
        </div>
    </div>
    <br>
    <br>
    <div class="page-frame container">
        <div class="col-md-3">
            <img src="#" height="300px" width="200px" class="profile">
        </div>
        <div class="col-md-9 bio">
            <br>
            <br>
            <h3><strong>Amanda Hanley</strong></h3>
            <h5>This is a paragraph. It serves as a placeholder for another paragraph, which will come later.
            Paragraph. Paragraph. Words. Words. Words. What a piece of work is a man! How noble in reason! how inifinite in faculty! in form, in moving,
            how express and admirable! in action how like an angel! in apprehension how like a god! the beauty of the world! the paragon of animals!
            And yet, to me, what is this quintessence of dust? There's nothing wordier than Shakespeare.</h5>
        </div>
    </div>
</div>

<div>
    <%= link_to "https://www.facebook.com/pages/Blazar-Communications/596802763701910", class: 'navbar-brand lead' do %>
          <i class="fa fa-facebook-official"></i>
      <% end %>
      <%= link_to "https://plus.google.com/109011054650093657125/about", class: 'navbar-brand lead' do %>
          <i class="fa fa-google-plus-square"></i>
      <% end %>
      <%= link_to "http://blazarcommunications.tumblr.com/", class: 'navbar-brand lead' do %>
          <i class="fa fa-tumblr-square"></i>
      <% end %>
      <%= link_to "https://www.linkedin.com/company/blazar-mailing-and-logistics-solutions", class: 'navbar-brand lead' do %>
          <i class="fa fa-linkedin-square"></i>
      <% end %>
      
</div>