<div class="container">
    <div class="col-md-6">
    <img src="http://i963.photobucket.com/albums/ae111/BlazarCommunications/Blazar_General/logo21_zpsksjhpfgd.png", height="150px", width="400px">
    </div>
    <div class="col-md-6">
        <h1>Folders and Insterters</h1>
        <h2>For Every Workflow Volume</h2>
    </div>
</div>
<div class="clear">
    <h2>0-3,000 Per Month</h2>
    <div>
        <div class="col-md-6">
            <img src="http://i963.photobucket.com/albums/ae111/BlazarCommunications/Folders-Inserters/fpi_600_1-350x400_zpsfhmhytcc.jpg" width="400px" />
        </div>
        <div class="col-md-6">
            <h3>FP-600 Tabletop Inserting System</h3>
            <p>While other tasks keep you busy, the pile of letters and invoices waiting to be mailed keeps pilling 
            up. Feed, fold, insert and seal them in no time with the FP-600 tabletop inserting system. 
            The FPi-600 is a paragon of automated simplicity and flexibility for small offices that 
            regularly mail folded materials such as invoices, statements, promotional letters, and legal documents.</p>
            <a href="#" class="btn-blazar">FP-600 Complete Specifications</a>
        </div>
    </div>
</div>

<div class="clear">
    <h2>3,000-15,000 Per Month</h2>
    <div>
        <div class="col-md-6">
            <img src="http://i963.photobucket.com/albums/ae111/BlazarCommunications/Folders-Inserters/fpi_2300_zps66gtzncp.png" width="400px" />
        </div>
        <div class="col-md-6">
            <h3>FP-2300 Series</h3>
            <p>The easy-to-use FP-2300 series is optimized for small-to-moderate mail volume;
            automated tedious letter paper folding and envelope stuffing. Its simple touch screen 
            controls and speedy performance make the 2300 a clear winner for small businesses and 
            offices that regularly mail bills, statements, reply envelopes, newsletters, and direct mail. 
            It reliably processes a variety of paper and envelope sizes, including stapled.</p>
            <a href="#" class="btn-blazar">FP-2300 Complete Specifications</a>
        </div>
    </div>
</div>

<div class="clear">
    <h2>15,000-30,000 Per Month</h2>
    <div>
        <div class="col-md-6">
            <img src="http://i963.photobucket.com/albums/ae111/BlazarCommunications/Folders-Inserters/fpi_2500_zpso5y3wlks.png" width="400px" />
        </div>
        <div class="col-md-6">
            <h3>FP-2500 Series</h3>
            <ul>
                <li>Fold, Insert, &amp; Seal</li>
                <li>Touch Screen Operations</li>
                <li>OMR Reading Capabilities</li>
                <li>Small Carbon Footprint</li>
            </ul>
            <a href="#" class="btn-blazar">FP-2500 Complete Specifications</a>
        </div>
    </div>
    <div class="clear">
        <div>
            <div class="col-md-6">
                <img src="http://i963.photobucket.com/albums/ae111/BlazarCommunications/Folders-Inserters/Untitled_zpsxoyhgvvz.png" width="400px" />
            </div>
            <div class="col-md-6">
                <h3>FP-4500 Series</h3>
                <p>Choose from two configurations of the FP-4500 to meet your mailroom needs. The FPi-4520 
                comes with two feeder stations, including an upper station configured as a high-capacity 
                unit for processing larger volumes of mail. For greater flexibility, choose the three-station FPi-4530.
                Both models include high capacity feeder stations and user-friendly color touch screens.</p>
                <a href="#" class="btn-blazar">FP-4500 Complete Specifications</a>
            </div>
        </div>
    </div>
</div>

<div class="clear">
    <h2>30,000-60,000 Per Month</h2>
    <div>
        <div class="col-md-6">
            <img src="http://i963.photobucket.com/albums/ae111/BlazarCommunications/Folders-Inserters/fp-5600-400x273_zpszidvehzz.jpg" width="400px" />
        </div>
        <div class="col-md-6">
            <h3>FP-5600 Series</h3>
            <p>The FPi-5600 turns your mail center into a strategic businesses asset, providing a platform for 
            compiling high volume mass mailings. With an intuitive color touch screen, you don't have to be a 
            mailroom genius to set up and run powerful mail jobs.</p>
            <a href="#" class="btn-blazar">FP-5600 Complete Specifications</a>
        </div>
    </div>
    <div class="clear">    
        <div>
            <div class="col-md-6">
                <img src="http://i963.photobucket.com/albums/ae111/BlazarCommunications/Folders-Inserters/fp-6600-400x242_zpswllpkptn.jpg" width="400px" />
            </div>
            <div class="col-md-6">
                <h3>FP-6600 Series</h3>
                <p>FP Mailing's top-of-the-line folder-inserter, the FPi-6600 can assemble and finish mailings at
                a stunning 4,300 letters per hour. The FP-6600s heavy monthly duty cycle ensures that businesses 
                with high volume mailing requirements can process tens of thousands of pieces efficiently and 
                reliably every week. This smooth operator sports a generous 10.4&rdquo; color touch screen, making 
                setup and operation clear and convenient.</p>
                <a href="#" class="btn-blazar">FP-6600 Complete Specifications</a>
            </div>
        </div>
    </div>
</div>

<div class="clear">
    <h2>60,000-200,000 Per Month</h2>
    <div>
        <div class="clear">
            <div class="col-md-6">
                <img src="http://i963.photobucket.com/albums/ae111/BlazarCommunications/Folders-Inserters/formax-7100-400x230_zps6v4zegvn.jpg" width="400px" />
            </div>
            <div class="col-md-6">
                <h3>Formax 7100 Series</h3>
                <p>The easily adaptable 7100 Series Inserters create professional, high-quality mail pieces in 
                minutes. Its truly modular design supports a wide range of mailing applications, accommodates a large 
                variety of envelope sizes and processes forms with top, middle and bottom address positions. 
                With the flexibility to add up to 9 feed stations, the 7100 Series can accommodate virtually all of a 
                company's mailing needs now and in the future.</p>
                <a href="#" class="btn-blazar">Formax 7100 Complete Specifications</a>
            </div>
        </div>
    </div>
    
    <div>
        <div class="clear">
            <div class="col-md-6">
                <img src="http://i963.photobucket.com/albums/ae111/BlazarCommunications/Folders-Inserters/formax-7200-400x192_zpsmvkuehcc.jpg" width="400px" />
            </div>
            <div class="col-md-6">
                <h3>Formax 7200 Series</h3>
                <p>The Formax 7200 Series Inserters take flexibility and productivity to new heights. 
                Its modular design offers up to 11 feed stations, with high-capacity feeders,
                and a standard capacity of up to 2,000 sheets. The top-loading envelope hopper holds up to 800 &num;10 
                envelopes or 500 flats, in landscape orientation. Inserting into landscape flats offers higher processing 
                speeds, fewer jams, and lower envelope costs.</p>
                <a href="#" class="btn-blazar">Formax 7200 Complete Specifications</a>
            </div>
        </div>
    </div>
</div>

<div class="clear">
    <h2>200,000 Plus Per Month</h2>
    <div>
        <div class="col-md-6">
            <img src="http://i963.photobucket.com/albums/ae111/BlazarCommunications/Folders-Inserters/intelligent-inserter-400x250_zps1i2dcydl.jpg" width="400px" />
        </div>
        <div class="col-md-6">
            <h3>Sensible Technologies Intelligent Inserter &amp; Feeder&frasl;Folder</h3>
            <p>Sensible Technologies's intelligent inserting solutions include a durable feeder&frasl;folders
            fully integrated with a reliable intelligent inserter. When it's time to add intelligent 
            capacity to your plant, our Intelligent Inserter And Feeder&frasl;Folder is ready to meet the 
            needs of your business. Now with the scalability and flexibility to adapt to future demands and opportunities.</p>
        <br>
            <a href="#" class="btn-blazar">Intelligent Inserter &amp; Feeder Specifications</a>
        </div>
    </div>
</div>

<div>
    <%= link_to "https://www.facebook.com/pages/Blazar-Communications/596802763701910", class: 'navbar-brand lead' do %>
          <i class="fa fa-facebook-official"></i>
      <% end %>
      <%= link_to "https://plus.google.com/109011054650093657125/about", class: 'navbar-brand lead' do %>
          <i class="fa fa-google-plus-square"></i>
      <% end %>
      <%= link_to "http://blazarcommunications.tumblr.com/", class: 'navbar-brand lead' do %>
          <i class="fa fa-tumblr-square"></i>
      <% end %>
      <%= link_to "https://www.linkedin.com/company/blazar-mailing-and-logistics-solutions", class: 'navbar-brand lead' do %>
          <i class="fa fa-linkedin-square"></i>
      <% end %>
      
</div>