<div class="container">
    <div class="col-md-6">
    <img src="http://i963.photobucket.com/albums/ae111/BlazarCommunications/Blazar_General/logo21_zpsksjhpfgd.png", height="150px", width="400px">
    </div>
    <div class="col-md-6">
        <h1>Welcome to Blazar Communications </h1>
        <h2>Mailing, Shipping, and Data Processing Solutions</h2>
        <div>
            <h4><i class="fa fa-phone"></i>  <a href="tel:18883900195" class="telephone">(888) 390-0195</a></h4>
        </div>
        <div>
            <h4><i class="fa fa-fax"></i>  <a href="tel:19514984518" class="telephone">(951) 489-4518</a></h4>
        </div>
    </div>
</div>

<div class="container top_space jumbotron">
    <h4><strong>Who is Blazar Communications?</strong></h4>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Coming to the table with more than 75 years of combined experience from our team, 
    Blazar Communications is a technology company dedicated to delivering reliable business 
    communications and logistics solutions to your company. We are comprised of a host of industry experts who strive 
    to improve workflow and production while also lowering shipping costs for every client. We offer cloud based
    and locally hosted solutions for all your business communications, lease and purchase of postage meters, complete 
    mailing machines and folder inserters, and a breadth of software and solutions for all your data management and shipping needs. 
    Locally owned and operated in Irvine, California, we service Southern California with hands-on assistance and management 
    and host clients as far away as (Boston??????? How’d that deal go???) through dedicated, attentive customer service. </p>
    <h4><strong>What does Blazar have to offer?</strong></h4>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Since 2011, Blazar Communications has been striving for top-of-the-line customer service. We 
    offer high-end products at manageable costs, ensuring that our clients get the best technology and software possible— 
    without breaking their budget. Whatever your requirements, Blazar has something for you. We provide clients with 
    equipment, software, and solutions for every scale of business. We at Blazar pride ourselves on being the only Data-Pac provider 
    in the area and we partner with the cream of the crop in mailing equipment and technology to offer you the very best.</p>
    <h4><strong>What can Blazar do for you?</strong></h4>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;If your company is looking for a better 
    solution for your mailing, shipping, or data processing, look no further than Blazar Communications. We offer a no-obligations, 
    comprehensive investigative analysis of your company’s workflow. We know from experience that 
    you are looking for the right information to build a business case for change and we aren’t willing to “single-sheet” 
    your business. Our no-obligation analysis will uncover and report on every aspect of potential savings, 
    improved workflow, and better output for your business. Our mission isn’t to sell you more equipment and supplies— we 
    aim to increase your profitability by reducing unnecessary spending. What else can Blazar do for you? Find out more today! </p>
</div>

<div>
    <%= link_to "https://www.facebook.com/pages/Blazar-Communications/596802763701910", class: 'navbar-brand lead' do %>
          <i class="fa fa-facebook-official"></i>
      <% end %>
      <%= link_to "https://plus.google.com/109011054650093657125/about", class: 'navbar-brand lead' do %>
          <i class="fa fa-google-plus-square"></i>
      <% end %>
      <%= link_to "http://blazarcommunications.tumblr.com/", class: 'navbar-brand lead' do %>
          <i class="fa fa-tumblr-square"></i>
      <% end %>
      <%= link_to "https://www.linkedin.com/company/blazar-mailing-and-logistics-solutions", class: 'navbar-brand lead' do %>
          <i class="fa fa-linkedin-square"></i>
      <% end %>
      
</div>