<div class="container">
    <div class="col-md-6">
    <img src="http://i963.photobucket.com/albums/ae111/BlazarCommunications/Blazar_General/logo21_zpsksjhpfgd.png", height="150px", width="400px">
    </div>
    <div class="col-md-6">
        <h1>Shipping and Logistics</h1>
        <h2>Solving All Your Shipping Needs</h2>
        <div>
            <h4><a href="#">Contact Us for More Information</a></h4>
        </div>
    </div>
</div>

<h2>BLAZARTRACK</h2>
<div>
    <div class="col-md-6">
        <img src="http://i963.photobucket.com/albums/ae111/BlazarCommunications/Logistics-Tracking/NewBlazarTrak-Graphic_zpses5htinj.jpg" width="400px"/>
    </div>
    <div class="col-md-6">
        <ul>
          <li>Eliminate Hand Logging of Packages</li>
          <li>Apple mobile device enabled</li>
          <li>Secure data storage on the cloud</li>
          <li>Access data from any laptop or desktop</li>
        </ul>
        <a href="#" class="btn-blazar">Click Here to See Our Brochure</a>
        <a href="#" class="btn-blazar">30 Day Free Trial</a>
    </div>
</div> 
<div class="clear">
    <h4>Scan &amp; Sign &ndash; Track Online</h4>
    <p>Transform your PC, Mac, and mobile device into high-speed smart scanners that quickly capture carrier 
    tracking and recipient information. BlazarTrak automatically sends a customizable email notification to 
    the recipient. At delivery, the mobile device becomes your digital signature pad. Instantaneously 
    recording to whom the package was delivered, recipient’s signature, messenger name, date, and time 
    of delivery. When research is required your BlazarTrak web portal is the depository of 
    all your package detail. Using our Google search feature you can retrieve comprehensive package 
    delivery information in seconds</p>
</div>

<h2>BLAZARLOCKERS</h2>
<div>
    <div class="col-md-6">
        <img src="http://i963.photobucket.com/albums/ae111/BlazarCommunications/Logistics-Tracking/NewBlazarLockers-Graphic_zpsebkhhkek.jpg" width="400px"/>
    </div>
    <div class="col-md-6">
        <ul>
          <li>iPhone, iPad, iPod App</li>
          <li>Camera or external scanning options</li>
          <li>Package tracking detail stored in the cloud</li>
          <li>Customizable email notifications with pick up reminders</li>
          <li>Capture purchase order, or item location information</li>
          <li>Picture taking capability</li>
          <li>Card swipe, barcode reading, or signature capture at delivery</li>
          <li>Flexible integration options</li>
        </ul>
        <a href="#" class="btn-blazar">Click Here to See Our Brochure</a>
    </div>
</div> 
<div>
    <h4>Benefits</h4>
    <ul>
      <li>Total Security of Packages</li>
      <li>100&percnt; Chain of Custody Tracking</li>
      <li>Reduction of Delivery Resources</li>
      <li>Email or Text Notifications with Reminders</li>
      <li>Alternative Access Methods</li>
      <li>24&frasl;7 Convenient Access for Parcel Pick-up</li>
    </ul>
</div>


<h2>BLAZARSHIP</h2>
<div>
    <div class="col-md-6">
        <img src="http://i963.photobucket.com/albums/ae111/BlazarCommunications/Logistics-Tracking/NewBlazarShip-Graphic_zpszknzxmw6.jpg" width="400px"/>
    </div>
    <div class="col-md-6">
        <ul>
          <li>Enterprise desktop</li>
          <li>Warehouse Production</li>
          <li>On-site or Cloud based</li>
          <li>Typically save 8-18&percnt; of annual freight spend</li>
        </ul>
        <a href="#" class="btn-blazar">Click Here to See Our Brochure</a>
    </div>
</div> 
<div class="clear">
    <p>The introduction of API's has made it very simple for software companies to write interfaces 
    into UPS, FedEx, USPS and DHL. By using the programming interface it saves the developer from having to 
    build a rating engine to manage shipping rates internally so they are able to bring a very basic product 
    to market for a low cost. These products work fine for very basic desktop shipping and low volume (20 a day) 
    e-commerce sites.</p>
    <p>BlazarShip is designed for a complex product warehouse environment or desktop shipping across your enterprise.
    With a few &ldquo;flips of the switch&rdquo;  our platform can be configured to ship everything from overnight
    legal documents to truckloads of machine parts.</p>
    <p>We have the ability to utilize the API or create the carrier rate tables internally depending on your 
    requirements. Last year BlazarShip's processing engine handled 280,000 shipments per day for a 
    name brand electronics company (that you would recognize) during the holiday season without one single
    glitch. We can also configure the platform to handle custom/regional small parcel and LTL carriers.</p>
</div>


<h2>BLAZAR AUDIT &amp; PAY</h2>
<div>
    <div class="col-md-6">
        <img src="http://i963.photobucket.com/albums/ae111/BlazarCommunications/Logistics-Tracking/NewBlazarAudit-Pay-Graphic_zpsjmhsbazw.jpg" width="400px"/>
    </div>
    <div class="col-md-6">
        <p>Unlike many freight audit and freight payment solutions, you are 100&percnt; 
        in control of your company's funds&hellip; you can relax knowing that your funds are
        secure and paid in an accurate and timely manner.</p>
        <p>All freight documents are scanned and available for secure, online viewing 24&frasl;7.
        For accurate tracking and prompt resolution, a log of communications between you, the carrier 
        and Blazar Audit &amp; Pay, is automatically created. Essential security features let you determine 
        what data is collected, how it is reported and who has access.</p>
    </div>
</div> 
<div class="clear">
<h4>Save Time</h4>
<p>Comprehensive EDI capabilities streamline information flow and eliminate paperwork. Scanned invoices 
are provided on CDs for easy, space&dash;saving storage. Streamline your global relationships with helpful 
analysis tools that convert multiple currencies. Additionally, all reports can be exported into common formats 
such as XML, Excel or PDF for effortless sharing of crucial data.</p>
<h4>Actionable Information</h4>
<p>When processes need to be revised or procedures changed, access to information is critical for intelligent 
resolution. BlazarPay easily converts a wealth of data into useful information that yields real bottom-line 
improvements. Standard reporting includes complete month-end and year-end freight accounting data, with 
accurate freight accruals.</p>
<h4>Who says freight payment and audit can't be groundbreaking?</h4>
<p>The advanced features and capabilities built into BlazarPay are the result of feedback from our 
customers and carriers combined with 25 years of experience in the business.</p>
<p>All Blazar Audit &amp; Pay applications integrate fully with one another as well as with any existing 
ERP system. This eliminates time&dash;consuming, costly implementation and ensures speed to business results 
as well as peak performance 24&frasl;7.</p>
<p>Comprehensive research and the latest innovations drive Blazar Audit &amp; Pay. Thoughtful, 
flexible capabilities go well beyond today's commoditized &ldquo;off the shelf&rdquo; solutions to give 
you a true advantage when it comes to freight payment and auditing.</p>
</div>




<div>
    <%= link_to "https://www.facebook.com/pages/Blazar-Communications/596802763701910", class: 'navbar-brand lead' do %>
          <i class="fa fa-facebook-official"></i>
      <% end %>
      <%= link_to "https://plus.google.com/109011054650093657125/about", class: 'navbar-brand lead' do %>
          <i class="fa fa-google-plus-square"></i>
      <% end %>
      <%= link_to "http://blazarcommunications.tumblr.com/", class: 'navbar-brand lead' do %>
          <i class="fa fa-tumblr-square"></i>
      <% end %>
      <%= link_to "https://www.linkedin.com/company/blazar-mailing-and-logistics-solutions", class: 'navbar-brand lead' do %>
          <i class="fa fa-linkedin-square"></i>
      <% end %>
      
</div>