<body id="mail4charity">
<div class="container">
    <div class="col-md-6">
    <img src="http://i963.photobucket.com/albums/ae111/BlazarCommunications/Mail4Charity/blazar_logo_pink_zpsjbdanh0b.gif", height="150px", width="400px">
    </div>
    <div class="col-md-6">
            <h1 class="bold">Mail4Charity</h1>
            <h3 class="bold">Help For Today, Hope For Tomorrow</h3>
        </div>
    </div>
    <div class="container">
        <div class="pull-left">
            <strong><p>Blazar is proud to announce its partnership with FP to offer the NBCF charity Postbase mailing machines. 
            FP Mailing Solutions is an authorized partner of the National Breast Cancer Foundation, whose mission is to provide
            free mammograms for women in need, promote early breast cancer detection, and provide 
            educational programs to those whose lives have been touched by breast cancer.</p></strong>
        </div>
        <br>
        <div>
            <img src="http://i963.photobucket.com/albums/ae111/BlazarCommunications/Mail4Charity/national-breast-cancer-fundraiser-400x106_zpsgrotjkrc.jpg" />
        </div>
    </div>
    
    <div class="col-md-6">
        <h3>About NBCF</h3>
        <p>NBCF provides women help for today and hope for tomorrow through its National Mammography Program, Beyond The Shock, Early Detection Plan,
        MyNBCF online support community, and breast cancer research programs.</p>
        <h3>Blazar Communications Supports NBCF</h3>
        <p>Blazar Communications understands the necessity of taking action against breast cancer. We partner with NBCF via our Mail4Charity 
        program by selling the Pink Postbase and offering direct donation options to show our support. Help us help the world and make a change 
        for tomorrow by supporting NBCF.</p>
        <h3>Your Part of the Story</h3>
        <p>You can help the fight against breast cancer by <a href= "https://www.nationalbreastcancer.org/breast-cancer-donations">donating to NBCF</a>. 
        You can also show your support every day with a pink PostBase postage meter in your office. Please visit <a href= "http://www.nationalbreastcancer.org/">
        nbcf.org</a> to find out more about the National Breast Cancer Foundation, Inc&reg;</p>
        <p>All Postbase Postage Meters from the PostBase30 through the PostBase85 are available in pink and a percentage of the monthly rental agreement 
        on all Pink Postbase Postage Meters goes to support the fight against Breast Cancer.</p>
        <p>Visit our <a href= "#">Mail Metering Page</a> for more information on Postbase Postage Meters.</p>
    </div>
    
    <div>
        <div class="col-md-6">
            <img src="http://i963.photobucket.com/albums/ae111/BlazarCommunications/Mail4Charity/breast-cancer-ribbon-pink-postbase-400x267_zpssxl6iq6t.jpg" width="392">
            <div class="breast_cancer_div"><h3>Breast Cancer Awareness Ribbon</h3></div>
            <img src="http://i963.photobucket.com/albums/ae111/BlazarCommunications/Mail4Charity/pink-postbase-semi-auto-400x205_zpsoyc58j9k.jpg" width="425">
            <div class="breast_cancer_div"><h3>Semi Automatic Pink PostBase Meter</h3></div>
            <img src="http://i963.photobucket.com/albums/ae111/BlazarCommunications/Mail4Charity/postbase-auto-pink-400x178_zpscfircxcb.jpg" width="367">
            <div class="breast_cancer_div"><h3 id="captions">Automatic Pink PostBase Meter</h3></div>
        </div>
    </div>
    <div>
    <%= link_to "https://www.facebook.com/pages/Blazar-Communications/596802763701910", class: 'navbar-brand lead' do %>
          <i class="fa fa-facebook-official"></i>
      <% end %>
      <%= link_to "https://plus.google.com/109011054650093657125/about", class: 'navbar-brand lead' do %>
          <i class="fa fa-google-plus-square"></i>
      <% end %>
      <%= link_to "http://blazarcommunications.tumblr.com/", class: 'navbar-brand lead' do %>
          <i class="fa fa-tumblr-square"></i>
      <% end %>
      <%= link_to "https://www.linkedin.com/company/blazar-mailing-and-logistics-solutions", class: 'navbar-brand lead' do %>
          <i class="fa fa-linkedin-square"></i>
      <% end %>
      
</div>
    
    
</body>