<div class="container">
    <div class="col-md-6">
    <img src="http://i963.photobucket.com/albums/ae111/BlazarCommunications/Blazar_General/logo21_zpsksjhpfgd.png", height="150px", width="400px">
    </div>
    <div class="col-md-6">
        <h1>Mail Openers and Joggers</h1>
        <h2>Want to reduce your paper cuts?</h2>
    </div>
</div>

<div class="container clear">
    <h2 class="jumbotron">JOGGERS</h2>
    <div class="clear">
        <div class="col-md-6">
            <img src="http://i963.photobucket.com/albums/ae111/BlazarCommunications/Mail-Openers-Joggers/Joggers/omation-quiet-joggers-400_zpszrcwcval.jpg" />
        </div>
        <div class="col-md-6">
            <h4>Omation Quiet Jogger</h4>
            <p>The Omation Quiet Jogger is a valuable addition to mailrooms, 
            offices, remittance processing and printing operations. It works 
            effectively for a variety of document processing needs. The Quiet 
            Jogger offers proper alignment of various sized mail, checks and 
            documents. For efficient mail processing, this document jogger moves 
            contents away from the envelope and justifies content edges, helping
            to prevent jams during envelope opening.</p>
            <a href="#" class="btn-blazar">Learn More About Omation Quiet Joggers</a>
        </div>
    </div>
    <div class="clear">
        <div class="col-md-6">
            <img src="http://i963.photobucket.com/albums/ae111/BlazarCommunications/Mail-Openers-Joggers/Joggers/FD402E2-400_zpsppbggy53.jpg" />
        </div>
        <div class="col-md-6">
            <h4>FD402E2 Two-Bin Jogger</h4>
            <p>The FD402E2 Two-Bin Envelope Jogger quickly settles the contents 
            of incoming mail prior to opening with an automated envelope opener. 
            It’s also ideal for aligning checks and statement stubs for further 
            processing in a banking environment.</p>
            <p>The FD402E2 Jogger solid state switch controls on/off and vibration
            speeds, up to 4,000 per minute. Electromagnetic design allows for 
            continuous operation, while the slotted clean-outs allow paper dust,
            staples, paper clips and other debris to exit the jogging bin.</p>
        </div>
    </div>
    <div class="clear">
        <div class="col-md-6">
            <img src="http://i963.photobucket.com/albums/ae111/BlazarCommunications/Mail-Openers-Joggers/Joggers/FD402P1-400_zpskljhok0v.jpg" />
        </div>
        <div class="col-md-6">
            <h4>FD402P1 Single-Bin Paper Jogger</h4>
            <p>he FD402P1 Single-Bin Paper Jogger provides quick and easy alignment 
            for a wide variety of paper sizes up to 11″ x 17″. Jogging forms helps 
            to separate them and reduce static electricity for accurate feeding 
            through pressure sealers, folders, inserters and other paper handling
            equipment.</p>
            <p>The FD402P1 Jogger’s solid state switch controls on/off and 
            vibration speeds, up to 4,000 per minute. Electromagnetic design 
            allows for continuous operation, while the slotted clean-outs allow
            paper dust, staples, paper clips and other debris to exit the jogging
            bin. The FD402P1 also features a tilted rack and a center divider to 
            properly jog small paper stacks.</p>
        </div>
    </div>
    <div class="clear">
        <div class="col-md-6">
            <img src="http://i963.photobucket.com/albums/ae111/BlazarCommunications/Mail-Openers-Joggers/Joggers/FD402P3-400_zpskwtgqpa6.jpg" />
        </div>
        <div class="col-md-6">
            <h4>FD402P3 Three-Bin Paper Jogger</h4>
            <p>The FD402P3 Three-Bin Paper Jogger is ideal for higher volume 
            environments and provides quick and easy alignment for a variety of 
            paper sizes up to 8.5&rdquo;x 14&rdquo;. Jogging forms helps to
             separate them and reduce static electricity for accurate feeding 
             through pressure sealers, folders, inserters and other paper 
             handling equipment.</p>
            <p>The FD402P3 Jogger’s solid state switch controls on/off and 
            vibration speeds, up to 4,000 per minute. Electromagnetic design 
            allows for continuous operation, while the slotted clean-outs allow 
            paper dust, staples, paper clips and other debris to exit the jogging 
            bin.</p>
        </div>
        <div class="clear">
        <div class="col-md-6">
            <img src="http://i963.photobucket.com/albums/ae111/BlazarCommunications/Mail-Openers-Joggers/Joggers/FD402TA1-400_zpsvi9fq2mc.jpg" />
        </div>
        <div class="col-md-6">
            <h4>FD402TA1 Tabletop Air Jogger</h4>
            <p>The FD402TA1 Tabletop Air Jogger is an ideal solution for print shops and production
            houses with limited space. This compact, powerful model aligns and dries sheets in a 
            single process while reducing static electricity. Variable vibration speed and air 
            pressure controls combine to reduce jogging time, allowing press sheets and digital 
            printouts to be air-dried immediately.</p>
            <p>The FD402TA1 Jogger’s V-shaped jog bin allows for jogging a criss-cross stacked 
            pile of papers, while the vertical to horizontal tilt feature helps keeps large paper
            stacks from bending. It has three operating modes, and variable air pressure and speed
            control to process up to 940 sheets at a time in sizes up to 12&rdquo; x 18&rdquo;.</p>
        </div>
    </div>
    <div class="clear">
        <div class="col-md-6">
            <img src="http://i963.photobucket.com/albums/ae111/BlazarCommunications/Mail-Openers-Joggers/Joggers/FD404A1-400_zpsltmi2eow.jpg" />
        </div>
        <div class="col-md-6">
            <h4>FD404A1 High-Capacity Air Jogger</h4>
            <p>The FD404A1 High-Capacity Air Jogger features improved ergonomics and a contemporary
            color scheme, and is ideal for print shops and production houses. This upright air jogger
            aligns and dries printed sheets as a single process, while removing static electricity. 
            Variable vibration speed and air pressure controls combine to reduce jogging time, 
            allowing press sheets and digital printouts to be air-dried immediately.</p>
            <p>The FD404A1 Jogger’s V-shaped jog bin allows for jogging a criss-cross stacked 
            pile of papers, while the vertical to horizontal tilt feature helps keeps large paper 
            stacks from bending. With a capacity of up to 940 sheets, standard or foot pedal 
            operation, and all-metal construction, the FD 404A1 is an ideal piece of equipment 
            for any print shop.</p>
        </div>
    </div>
</div>

<div class="container clear">
    <h2 class="jumbotron">OMATION MAIL OPENERS</h2>
    <div class="clear">
        <div class="col-md-6">
            <img src="http://i963.photobucket.com/albums/ae111/BlazarCommunications/Mail-Openers-Joggers/Omation-Openers/omation-mini-mill-400_zpspz4n9cz5.jpg" />
        </div>
        <div class="col-md-6">
            <h4>Omation Mini Mill</h4>
            <p>Letter Opener for the Small Office.</p>
            <p>The Omation Mini Mill is the automated mail opener that is 
            small enough for the front desk and powerful enough for the back office.</p>
            <a href="#" class="btn-blazar">Omation Mini Mill Specifications</a>
        </div>
    </div>
    <div class="clear">
        <div class="col-md-6">
            <img src="http://i963.photobucket.com/albums/ae111/BlazarCommunications/Mail-Openers-Joggers/Omation-Openers/omation-2112-400_zpsexls3yy1.jpg" />
        </div>
        <div class="col-md-6">
            <h4>Omation 2112</h4>
            <p>Compact Envelope Opener with Milling Cutter Technology.</p>
            <p>This compact unit provides mailroom automation for mid-volumes of 
            incoming mail, and it is equipped with the same milling cutter technology 
            as the higher speed Omation 306 Envelope opener.</p>
            <a href="#" class="btn-blazar">Omation 2112 Specifications</a>
        </div>
    </div>
    <div class="clear">
        <div class="col-md-6">
            <img src="http://i963.photobucket.com/albums/ae111/BlazarCommunications/Mail-Openers-Joggers/Omation-Openers/omation3061-400_zpsw7cwajkc.jpg" />
        </div>
        <div class="col-md-6">
            <h4>Omation 306 &amp; 306s</h4>
            <p>High Volume Letter Opener with Optional Sorting Capabilities.</p>
            <p>Omation Model 306 provides significant technological improvements over 
            its Omation predecessors, which have been the world’s best selling envelope 
            opening devices for more than a decade.</p>
            <a href="#" class="btn-blazar">Omation 306 &amp; 306s Specifications</a>
        </div>
    </div>
</div>

<div>
    <%= link_to "https://www.facebook.com/pages/Blazar-Communications/596802763701910", class: 'navbar-brand lead' do %>
          <i class="fa fa-facebook-official"></i>
      <% end %>
      <%= link_to "https://plus.google.com/109011054650093657125/about", class: 'navbar-brand lead' do %>
          <i class="fa fa-google-plus-square"></i>
      <% end %>
      <%= link_to "http://blazarcommunications.tumblr.com/", class: 'navbar-brand lead' do %>
          <i class="fa fa-tumblr-square"></i>
      <% end %>
      <%= link_to "https://www.linkedin.com/company/blazar-mailing-and-logistics-solutions", class: 'navbar-brand lead' do %>
          <i class="fa fa-linkedin-square"></i>
      <% end %>
      
</div>