<div class="container">
    <div class="col-md-6">
    <img src="http://i963.photobucket.com/albums/ae111/BlazarCommunications/Blazar_General/logo21_zpsksjhpfgd.png", height="150px", width="400px">
    </div>
    <div class="col-md-6">
        <h1>Postage Accounting</h1>
        <h2>Find the system that's best for you.</h2>
    </div>
</div>

<h2>Is departmental accounting important to you? <em>(Hint: It should be.)</em></h2>
<p>When it comes to sending out your first class mail and promotional customer 
communications, USPS approved postal discounting software could be your company's
ticket to massive savings. What volume of information does your company send out 
each month? Is it really worth the cost to have someone else send it out for you? 
Your company's monthly postage expenditures can really add up over time, allowing 
funds to leak out of your business's accounts with every promotion or invoice 
you send out. By taking control of your own postage accounting and switching 
to a personal postage metering system like the ones we offer here at Blazar 
Communications, your company could be introduced to massive savings. Postal 
cost control is a prime reason that many customers implement our vendor supplied 
and USPS approved postal discounting software for their businesses'postal accounting
management. Take control of your business's finances and find the right postage 
metering system for your company today!</p>
<div class="container page-frame">
    <h3>Business Office</h3>
    <div class="col-md-6">
        <img src="http://i963.photobucket.com/albums/ae111/BlazarCommunications/Postage-Accounting/MailOne-Image-400x400_zpsi9cg57om.png" />
    </div>
    <div class="col-md-6">
        <p>Save big on postage costs when you take advantage of
        USPS&reg;Commercial Base Pricing (CBP) discounts.</p>
        <p>Save time by processing and tracking USPS&reg; electronic
         Confirmation Services, Certified, and Return Receipt within the 
         convenient MailOne interface.</p>
         <a href="#" class="btn-blazar">Learn More About MailOne 2.0</a>
    </div>
</div>
<br>
<br>
<div class="container page-frame">
    <h3>Production</h3>
    <div class="col-md-6">
        <img src="http://i963.photobucket.com/albums/ae111/BlazarCommunications/Postage-Accounting/eSMART-MAiL-400x290_zpsbtpv6rqk.jpg" />
    </div>
    <div class="col-md-6">
        <p>Together, eSmart-Mail and eSmartMail Manager collect and control your 
        postal accounting data. The program can be synced with Data-Pac,
        Pitney Bowes, Hasler, and Neopost mailing machines and may interface 
        with many other devices as well.  Search for and display current 
        jobs in real-time on your computer screen and organize the data by 
        account, operator, job, date, and time. Postal Accounting has never 
        been so easy.</p>
         <a href="#" class="btn-blazar">Learn More About eSmart-Mail</a>
    </div>
</div>

<div>
    <%= link_to "https://www.facebook.com/pages/Blazar-Communications/596802763701910", class: 'navbar-brand lead' do %>
          <i class="fa fa-facebook-official"></i>
      <% end %>
      <%= link_to "https://plus.google.com/109011054650093657125/about", class: 'navbar-brand lead' do %>
          <i class="fa fa-google-plus-square"></i>
      <% end %>
      <%= link_to "http://blazarcommunications.tumblr.com/", class: 'navbar-brand lead' do %>
          <i class="fa fa-tumblr-square"></i>
      <% end %>
      <%= link_to "https://www.linkedin.com/company/blazar-mailing-and-logistics-solutions", class: 'navbar-brand lead' do %>
          <i class="fa fa-linkedin-square"></i>
      <% end %>
      
</div>