<div class="container">
    <div class="col-md-6">
    <img src="http://i963.photobucket.com/albums/ae111/BlazarCommunications/Blazar_General/logo21_zpsksjhpfgd.png", height="150px", width="400px">
    </div>
    <div class="col-md-6">
        <h1>Shredders</h1>
        <h2>Protect your security with the machine that's right for you.</h2>
    </div>
</div>

<div class="container clear">
    <h2 class="jumbotron">DESKSIDE SHREDDERS</h2>
    <div class="clear">
        <div class="col-md-6">
            <img src="http://i963.photobucket.com/albums/ae111/BlazarCommunications/Shredders/FD_8202CC_Deskside_Shredder_zpspf8zgk2u.gif" />
        </div>
        <div class="col-md-6">
            <h4><strong>Formax FD 8202CC Deskside Shredder</strong></h4>
            <p>The Formax FD 8202CC Deskside Shredder is as compact as a wastebasket, with enough 
            power to handle CDs, paper clips, staples and credit cards. This rugged cross-cut model
            provides on-the-spot destruction of sensitive paperwork, phone messages and notes 
            generated throughout the day.</p>
            <p>The dedicated CD input allows for safe destruction of CDs and the separate CD waste 
            compartment keeps shredded CDs separate from paper shreds.</p>
            <p>This cross-cut model can shred up to 20 20&number; sheets at a time, up to 10 feet per
            minute, with a shred size of 1/8&rdquo; x 1 1/16&rdquo;. The new design is also quieter
            than its predecessor.</p>
            <p>The FD 8202CC is ideal for busy professionals or the small home office.</p>
        </div>
    </div>
    <div class="clear">
        <div class="col-md-6">
            <img src="http://i963.photobucket.com/albums/ae111/BlazarCommunications/Shredders/alterations/FD_8250CC_Deskside_Shredder_zpssz6uwhbn.gif_zpsj7tmdmf0.jpeg" />
        </div>
        <div class="col-md-6">
            <h4><strong>FD-8250CC Deskside Shredder</strong></h4>
            <p>The FD 8250CC provides high shredding performance in a deskside model. 
            Compact and powerful, it shreds both paper and credit cards, to security Level
            4 shred particles.</p>
            <p>This cross-cut model offers on-the-spot destruction of sensitive paperwork, 
            phone messages and notes generated throughout the day. The removable waste bin 
            features a fill-level window making it easy to see when it’s time to be emptied.
            Energy consumption is reduced with power-free stand-by operation.</p>
            <p>The FD 8250CC Deskside Shredder is ideal for busy professionals or the small 
            home office.</p>
        </div>
    </div>
    <div class="clear">
        <div class="col-md-6">
            <img src="http://i963.photobucket.com/albums/ae111/BlazarCommunications/Shredders/FD_8302_Deskside_Shredder_zpsupg7gkxz.gif" />
        </div>
        <div class="col-md-6">
            <h4><strong>FD 8302 Deskside Shredder</strong></h4>
            <p>Formax Deskside Shredders are as compact as a wastebasket, yet provide enough power 
            to handle paper clips and staples. Two models offer on-the-spot destruction of sensitive
            paperwork, phone messages, and notes generated throughout the day. The Strip-Cut model
            can also shred CDs with its dedicated CD feed opening.</p>
            <p>The FD 8302CC Cross-Cut model can shred up to 12 sheets at once, 
            up to 27 feet per minute, with a microcut shred size of 1/16&rdquo; x 5/8&rdquo;.</p>
            <p>The FD 8302SC Strip-Cut model can shred up to 23 sheets at once, up to 21 feet 
            per minute, with a shred size of 5/32&rdquo;.</p>
            <p>FD 8302 Deskside Shredders are ideal for busy professionals or the small home office.</p>
        </div>
    </div>
</div>

<div class="container clear">
    <h2 class="jumbotron">OFFICE SHREDDERS</h2>
    <div class="clear">
        <div class="col-md-6">
            <img src="http://i963.photobucket.com/albums/ae111/BlazarCommunications/Shredders/alterations/FD_8602_Office_Shredders%201_zpsdttaov8g.gif_zpsfdhw59nb.jpeg" />
        </div>
        <div class="col-md-6">
            <h4><strong>FD 8402 Office Shredder</strong></h4>
            <p>Formax Office Shredders offer commercial-grade components in a sleek, practical design. 
            An easy-to-use LED control panel puts the power right at your fingertips.</p>
            <p>The FD 8402CC Cross-Cut model can shred up to 20 sheets at once, up to 30 feet per
            minute, with a shred size of 5/32&rdquo; x 1 1/5&rdquo;.</p>
            <p>The FD 8402SC Strip-Cut model can shred up to 32 sheets at once, up to 30 feet per 
            minute, with a shred size of 1/4&rdquo;.</p>
            <p>FD 8402 Office Shredder’s optional EvenFlow&trade; Automatic Oiling System 
            periodically lubricates the cutting blades based on motor run time, keeping the shredder in 
            peak operating condition.</p>
        </div>
    </div>
    <div class="clear">
        <div class="col-md-6">
            <img src="http://i963.photobucket.com/albums/ae111/BlazarCommunications/Shredders/alterations/FD_8602_Office_Shredders%201_zpsdttaov8g.gif_zpsfdhw59nb.jpeg" />
        </div>
        <div class="col-md-6">
            <h4><strong>Formax FD 8500 Office Shredder</strong></h4>
            <p>Formax FD 8500 Office Shredders offer a 16&rdquo; feed opening combined with 
            commercial-grade components in a sleek, practical design. An easy-to-use LED control
            panel puts the power right at your fingertips.</p>
            <p>The FD 8500CC Cross-Cut model can shred up to 18 sheets at a time, up to 
            33 feet per minute, with a shred size of 5/32&rdquo; x 1 1/5&rdquo;.</p>
            <p>The FD 8500SC Strip-Cut model can shred up to 22 sheets at once, up to 33 feet 
            per minute, with a shred size of 5/32&rdquo;.</p>
            <p>The FD 8500 Office Shredder’s optional EvenFlow&trade; Automatic Oiling System 
            periodically lubricates the cutting blades based on motor run time, keeping the 
            shredder in peak operating condition.</p>
        </div>
    </div>
    <div class="clear">
        <div class="col-md-6">
            <img src="http://i963.photobucket.com/albums/ae111/BlazarCommunications/Shredders/alterations/FD_8602_Office_Shredders_zpsgafjyp4h.gif_zpsgeyajk6u.jpeg" />
        </div>
        <div class="col-md-6">
            <h4><strong>FD 8602 Office Shredder</strong></h4>
            <p>Formax FD 8602 Office Shredders feature an extra wide 16&rdquo; feed opening 
            combined with commercial-grade components in a sleek, practical design. An 
            easy-to-use LED control panel puts the power right at your fingertips.</p>
            <p>The FD 8602CC Cross-Cut model can shred up to 37 sheets at a time, up to 
            22 feet per minute, with a shred size of 5/32&rdquo; x 1 1/5&rdquo;.</p>
            <p>The FD 8602SC Strip-Cut model can shred up to 31 sheets at once, up to 
            30 feet per minute, with a shred size of 1/4&rdquo;.</p>
            <p>The FD 8602 Office Shredder’s features include heat-treated steel cutting 
            blades, an AC geared motor with heavy-duty steel gears, all-metal cabinet with
            casters, and a lifetime guaranteed high-density plastic wastebin. Each model has a 
            wastebin capacity of up to 33 gallons. The optional EvenFlow&trade; Automatic Oiling
            System periodically lubricates the cutting blades based on motor run time, keeping the
            shredder in peak operating condition.</p>
        </div>
    </div>
    <div class="clear">
        <div class="col-md-6">
            <img src="http://i963.photobucket.com/albums/ae111/BlazarCommunications/Shredders/FD_8652CC_AutoOiler_Shredder_zps33gcplc4.gif" />
        </div>
        <div class="col-md-6">
            <h4><strong>FD-8652CC AutoOiler Shredder</strong></h4>
            <p>The Formax FD 8652CC AutoOiler Shredder features fully-automatic internal oiler that 
            periodically pumps oil onto the cutting blades for optimal performance.</p>
            <p>The FD 8650CC is an office-size shredder with industrial strength, and shreds up to 
            32 sheets at one time at speeds up to 33 feet per minute. The extra wide feed opening 
            handles documents up to 16” wide and the large waste bin holds up to 53 gallons. 
            These specifications make it an ideal centralized office shredder.</p>
            <p>The FD 8652CC AutoOiler Shredder’s commercial-grade features include an 
            easy-to-use LED control panel with load indicator, heat-treated steel blades, a 
            steel cabinet, lifetime guaranteed waste bin, and a powerful AC geared-motor ensuring
            years of reliable performance and information security in your office eviroment.</p>
        </div>
    </div>
    <div class="clear">
        <div class="col-md-6">
            <img src="http://i963.photobucket.com/albums/ae111/BlazarCommunications/Shredders/FD_8704CC_Multimedia_Shredder_zps2r5wekvv.gif" />
        </div>
        <div class="col-md-6">
            <h4><strong>FD 8704CC Cross-Cut Multimedia Shredder</strong></h4>
            <p>Formax Office Shredders offer commercial-grade components in a sleek, practical 
            design. An easy-to-use LED control panel puts the power right at your fingertips.</p>
            <p>The FD 8704CC Cross-Cut Multimedia shredder has two feed openings: one to accept 
            up to 45 sheets of paper at once, and a second feed opening specially designed to shred
            multiple CDs, DVDs, and DV tapes at one time. Paper can be shred at a speed of up to 12 
            feet per minute, with a shred size of 5/32&rdquo; x 1 5/8&rdquo;. The FD 8704CC has a waste bin 
            capacity of up to 33 gallons.</p>
            <p>The FD 8704CC Multimedia Shredder’s optional EvenFlow&trade; Automatic Oiling 
            System periodically lubricates the cutting blades based on motor run time, keeping 
            the shredder in peak operating condition.</p>
        </div>
    </div>
</div>

<div class="container clear">
    <h2 class="jumbotron">INDUSTRIAL SHREDDERS</h2>
    <div class="clear">
        <div class="col-md-6">
            <img src="http://i963.photobucket.com/albums/ae111/BlazarCommunications/Shredders/FD-_8904CC_Industrial-Shredder_zpsenlb04lo.gif" />
        </div>
        <div class="col-md-6">
            <h4><strong>FD 8804 Industrial Shredder</strong></h4>
            <p>Formax 8804 Series Industrial Conveyor Shredders offer high capacity for 
            shredding large volumes of material, and can serve the needs of an entire organization.
            These shredders are powerful enough to shred just about anything including entire files, 
            stacks of computer forms, cardboard, tapes, CDs and magnetic disks.</p>
            <p>The FD 8804CC Cross-Cut model can shred up to 90 sheets at once, at up to 40 feet per
            minute, with a shred size of 1/4&rdquo; x 2&rdquo;. The FD 8804SC Strip-Cut model can shred up to 
            125 sheets at once, at up to 50 feet per minute, with a shred size of 1/2&rdquo;.</p>
            <p>The FD 8804 Industrial Shredders’s EvenFlow™ Automatic Oiling System is a standard feature which
            lubricates the all-steel cutting blades, helping to keep the FD 8804 in peak operating condition.</p>
        </div>
    </div>
    <div class="clear">
        <div class="col-md-6">
            <img src="http://i963.photobucket.com/albums/ae111/BlazarCommunications/Shredders/FD_8850CC_Industrial_Shredder_zpssrlguqlz.gif" />
        </div>
        <div class="col-md-6">
            <h4><strong>FD 8850CC Industrial Shredder</strong></h4>
            <p>The Formax FD 8850CC Industrial Shredder offers automated features and rugged construction for high 
            volume centralized shredding of a variety of media.</p>
            <p>Two separate infeeds offer the ability to shred a variety of media. The upper input hopper has a 
            rotating bin to accommodate batches of crumpled paper. Simply dump your waste bin into the hopper, 
            even while the shredder is running. The standard input handles paper, stacks of continuous computer 
            paper, credit cards, CDs/DVDs, computer disks, and USB flash drives. In addition, a convenient shelf
            pulls out to allow for easier feeding.</p>
            <p>Standard features include an LED control panel and user-friendly features such as Auto Start/Stop
            and Auto Reverse to clear paper jams. Its mobile waste bin on casters and reusable bag make emptying 
            the shredder a breeze. With an AC-geared motor and chain drive, it has the power to shred up to 80 
            sheets of paper at once, into Level 3 shred particles 1/8&rdquo; x 2&rdquo;.</p>
            <p>The FD 8850CC Industrial Shredder’s EvenFlow&trade; Automatic Oiling System lubricates the cutting blades,
            helping to keep the shredder in peak operating condition.</p>
            <p>The FD 8850CC provides security and versatility in a compact powerful package.</p>
        </div>
    </div>
    <div class="clear">
        <div class="col-md-6">
            <img src="http://i963.photobucket.com/albums/ae111/BlazarCommunications/Shredders/alterations/FD_8904B_Industrial_Shredder_zpswj2incnb.gif_zpsogndcnnx.jpeg" />
        </div>
        <div class="col-md-6">
            <h4><strong>FD 8904B Industrial Shredder</strong></h4>
            <p>The Formax FD 8904B Industrial Shredder offers high capacity for shredding large 
            volumes of material, and can serve the needs of an entire organization. It’s powerful 
            enough to shred just about anything including entire files, stacks of computer forms, 
            cardboard, tapes, CDs and magnetic disks.</p>
            <p>The FD 8904B Cross-Cut model can shred up to 650 sheets at once, up to 35 feet per 
            minute, with a shred size of 5/16&rdquo; x 1 1/2&rdquo; &ndash; 3&rdquo;.</p>
            <p>The FD 8904B combines the power and features of the FD 8904CC with an Output Baler
            for convenient disposal of shredded material. The Baler continually compacts shredded 
            material into a bale, which is easily ejected into a plastic bag for clean, easy disposal.</p>
            <p>The FD 8904B Industrial Shredder’s EvenFlow&trade; Automatic Oiling System is a 
            standard feature which lubricates the all-steel cutting blades, helping to keep the 
            shredder in peak operating condition.</p>
        </div>
    </div>
    <div class="clear">
        <div class="col-md-6">
            <img src="http://i963.photobucket.com/albums/ae111/BlazarCommunications/Shredders/FD-_8904CC_Industrial-Shredder_zpsenlb04lo.gif" />
        </div>
        <div class="col-md-6">
            <h4><strong>FD 8904CC Industrial Shredder</strong></h4>
            <p>The Formax FD 8904CC Industrial Shredder offers high capacity for shredding large 
            volumes of material, and can serve the needs of an entire organization. It’s powerful 
            enough to shred just about anything including entire files, stacks of computer forms, 
            cardboard, tapes, CDs and magnetic disks.</p>
            <p>The FD 8904CC Cross-Cut model can shred up to 650 sheets at once, up to 35 feet per 
            minute, with a shred size of 5/16&rdquo; x 1 1/2&rdquo; &ndash; 3&rdquo;. Features include an LED Control 
            Panel with digital load indicator, Auto Start/Stop, Auto Reverse and Auto Cleaning, 
            and front waste bin access, to allow for placement against a wall.</p>
            <p>The FD 8904CC Industrial Shredder’s EvenFlow&trade; Automatic Oiling System is a 
            standard feature which lubricates the all-steel cutting blades, helping to keep the 
            shredder in peak operating condition.</p>
            <p>In addition, an optional Ouput Conveyor Belt System is available for the FD 8904CC 
            which transports material out of the shredder and into an external waste bin, increasing 
            capacity and decreasing down time between emptying and replacing the waste bin.</p>
        </div>
    </div>
</div>

<div>
    <%= link_to "https://www.facebook.com/pages/Blazar-Communications/596802763701910", class: 'navbar-brand lead' do %>
          <i class="fa fa-facebook-official"></i>
      <% end %>
      <%= link_to "https://plus.google.com/109011054650093657125/about", class: 'navbar-brand lead' do %>
          <i class="fa fa-google-plus-square"></i>
      <% end %>
      <%= link_to "http://blazarcommunications.tumblr.com/", class: 'navbar-brand lead' do %>
          <i class="fa fa-tumblr-square"></i>
      <% end %>
      <%= link_to "https://www.linkedin.com/company/blazar-mailing-and-logistics-solutions", class: 'navbar-brand lead' do %>
          <i class="fa fa-linkedin-square"></i>
      <% end %>
      
</div>