<div class="container">
    <div class="col-md-6">
    <img src="http://i963.photobucket.com/albums/ae111/BlazarCommunications/Blazar_General/logo21_zpsksjhpfgd.png", height="150px", width="400px">
    </div>
    <div class="col-md-6">
        <h1>Blazar Returned Mail Service &lpar;RMS&rpar;</h1>
        <h2>Your Undeliverable As Addressed&lpar;UAA&rpar; Mail Problem
        Solver Has Arrived!</h2>
        <div>
            <h4><i class="fa fa-phone"></i>  <a href="tel:18883900195" class="telephone">(888) 390-0195</a></h4>
        </div>
        <div>
            <h4><i class="fa fa-fax"></i>  <a href="tel:19514984518" class="telephone">(951) 489-4518</a></h4>
        </div>
    </div>
</div>
<div class="page-frame">
    <h1>Solve Your UAA Mail Problems with Blazar!</h1>
    <p>If someone walked into your office and said that they would charge you 
    &dollar;10 per hour to completely fix your Undeliverable as Addressed returned 
    mail problem, would you hire them? Well, DirectTV did! If we can help DirectTV 
    significantly minimize their UAA problem each and every day the chances are 
    very good that we can help you, too! Businesses lose huge dollars every 
    single day because their customers, who would love to pay them, aren’t 
    receiving their statements! Our technology goes way beyond traditional USPS 
    National Change of Address cleansing that the &lsquo;other guys&rsquo;
    offer so we can help deliver your correspondence the first time!</p>
    <p>Blazar is proud to introduce UAA cloud technology for managing your 
    undeliverable mail!Blazar RMS is a unique in-house solution that solves 
    multiple internal and downstream business automation issues with paper-based
    documents, data, main-frame data integration and business document workflow.</p>
    <p>Blazar RMS proprietary Blazar RMS software enables integration of existing 
    onsite document scanning and imaging hardware, bar code scanning and UAA Business 
    Processes.  Companies can now keep control of in-house operations without the need
    to fully outsource or even partial outsource the management of this issue.</p>
    <p>Processes are now internal with external layering of technology and Global
    resources.  Data entry can be performed onsite, Blazar RMS from US, Home, 
    Offshore and/or a combination of all across the enterprise.</p>
    <p>The Document Management solution incorporates multiple, proven integrated 
    industry leading technologies in software, hardware and systems workflow 
    design and interfaces them with a customer’s existing in-bound mail room&lpar;s&rpar;,
    third party managed mail room&lpar;s&rpar; or as a complete outsourced program.  
    The Blazar RMS gives companies&colon;</p>
    <ul>
        <li><strong>Integrated Document Workflow and Enterprise Management
        Software</strong> &ndash; Proprietary Blazar RMS, runs your internal 
        return mail document workflow for all document types, across business 
        lines and incorporates compliance requirements for indexed and archived 
        image repositories.</li>
        <li><strong>Guaranteed Quality Levels from Data Entry</strong> &ndash; 
        critical to a return mail operation, Blazar RMS platform for Quality Control
        and Quality Assurance guarantees accuracy from documents that require manual 
        conversion to data.  System tools and processes, instead of manual operations,
        now control Quality.</li>
        <li><strong>Reduced Cycle Time with Processing</strong> &ndash; Manages 
        a lifecycle process for return mail, including research of bad addresses 
        from weeks to days, eliminates all backlogged return mail.</li>
        <li><strong>Advanced Technology Integration</strong> &ndash; Blazar 
        RMS works with your existing on-site scanning operation, including data entry, 
        ICR, OCR and bar code read capabilities across all document types.  Blazar RMS 
        also deploys hardware for for automating the return mail lifecycle, including 
        bar code readers, remail printers and the proprietary software to drive the 
        devices.</li>
        <li><strong>Risk Management Verifiable Audit Control</strong> &ndash; 
        Software and document workflow processes provide an audit trail, accounting
        for each piece of undeliverable mail as it cycles throughout processing.</li>
        <li><strong>Global Resources</strong> &ndash; Scan onsite in your facility
        utilizing your resources and/or utilize our sites for scanning and have both
        onshore and offshore controlled data entry from one single company. 
        Or a company can utilize its own data entry staff keying into Blazar RMS.</li>
        <li><strong>Full System Reporting</strong> &ndash; Utilize real time access to 
        reporting, metrics and key performance data.</li>
        <li><strong>High Performance Address Platform</strong> &ndash; Easily access
        Blazar RMS proprietary Address Management, Standardization and Search Platforms.</li>
    </ul>
</div>
<div>
    <%= link_to "https://www.facebook.com/pages/Blazar-Communications/596802763701910", class: 'navbar-brand lead' do %>
          <i class="fa fa-facebook-official"></i>
      <% end %>
      <%= link_to "https://plus.google.com/109011054650093657125/about", class: 'navbar-brand lead' do %>
          <i class="fa fa-google-plus-square"></i>
      <% end %>
      <%= link_to "http://blazarcommunications.tumblr.com/", class: 'navbar-brand lead' do %>
          <i class="fa fa-tumblr-square"></i>
      <% end %>
      <%= link_to "https://www.linkedin.com/company/blazar-mailing-and-logistics-solutions", class: 'navbar-brand lead' do %>
          <i class="fa fa-linkedin-square"></i>
      <% end %>
      
</div>